.wp-list-table .column-orig_string,
.wp-list-table .column-replacement_string {
	width: 26%;
}
.wp-list-table .column-domain,
.wp-list-table .column-context
 {
	width: 18%;
}
.wp-list-table .edit_links,
.wp-list-table .delete_links {
	width: 6%;
}